.m-container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    color: #D09A58;
    text-shadow: -.75px .75px #D4C675;
    padding: 1rem;
    background-color: #3C3C45;
}

.t-l-container {
    width: 75%;
    text-align: left;
    line-height: 100px;
}

.t-r-container {
    width: 25%;
    text-align: center;
    line-height: 150px;
}

.header-title {
    font-family: 'Handlee';
}

.header-link {
    font-family: 'Raleway';
    font-size: 1.20rem;
    color: #D09A58;
    text-shadow: .75px 1px #D4C675;
}

.b-container {
    display: flex;
    flex-direction: row;
    height: 80%;
}

.bl-container {
    height: auto;
    width: 15%;
    background:
        linear-gradient(
            rgba(60, 60, 69, 0.75), 
            rgba(171, 71, 71, 0.25));
    background-size: cover;
}

.br-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: auto;
    padding: 1rem;
    background:
        linear-gradient(
            rgba(248, 248, 248, 0.75), 
            rgba(255, 255, 255, 0.25));
}

.brt-container {
    padding: 1rem;
    font-size: 1.5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFE0B2;
    text-shadow: .75px 1px #7E3E3E;
}

