.m-container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    color: #111111;
    padding: 1rem;
}

.t-l-container {
    width: 75%;
    text-align: left;
    line-height: 100px;
}

.t-r-container {
    width: 25%;
    text-align: center;
    line-height: 150px;
}

.header-title {
    font-family: 'Cairo';
    font-weight: 900;
    text-shadow: -.75px .75px #838989;
}

.header-link {
    font-family: 'Cairo';
    font-size: 1.20rem;
    font-weight: 900;
    text-shadow: -.75px .75px #838989;
}

.b-container {
    display: flex;
    flex-direction: row;
    height: 80%;
}

.bl-container {
    height: auto;
    width: 15%;
    /* background:
        linear-gradient(
            rgba(255, 198, 189, 0.75), 
            rgba(255, 255, 255, 0.25)); */
    background-size: cover;
}

.br-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: auto;
    padding: 1rem;
    /* background:
        linear-gradient(
            rgba(248, 248, 248, 0.75), 
            rgba(255, 255, 255, 0.25)); */
}

.brt-container {
    padding: 1rem;
    font-size: 1.5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



