{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div>
    {% if user.is_authenticated %}

    
    <div class="languages">
        <div class="language-header">
            <h3>Languages</h3>
            <button type="submit"><i class="fas fa-plus" id="plus-sign"></i></button>
        </div>
        {% if languages %}
        <a href=""><div class="language">{% for language in languages.all %}{{language}}{% endfor %}</div></a>
        {% else %}
        <p>No languages available at this time.</p>
        {% endif %}
    </div>
    <div class="folders">
        <div class="folder-header">
            <h3>Folders</h3>
            <button type="submit"><i class="fas fa-plus" id="plus-sign"></i></button>
        </div>
        {% if folders %}
        <a href=""><div class="folder">{% for folder in folders.all %}{{folder}}{% endfor %}</div></a>
        {% else %}
        <p>No folders available at this time.</p>
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock %}