{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div>
    {% if user.is_authenticated %}

    
    <div class="languages">
        <h3>Languages</h3>
        {% if language in languages.all %}
        <div>{% for language in languages.all %}{{language}}{% endfor %}</div>
        {% else %}
        <p>No languages available at this time.</p>
        {% endif %}
    </div>
    <div class="folders">
        <h3>Folders <i class="fas fa-plus" id="plus-sign"></i></h3>
        {% if folder in folders.all %}
        <div>{% for folder in folders.all %}{{folder}}{% endfor %}</div>
        {% else %}
        <p>No folders available at this time.</p>
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock %}